# ==================== 系统临时文件 ====================
Thumbs.db
.DS_Store
*.tmp
*.temp
# 你项目里的临时文件
123

# ==================== Keil MDK编译生成文件 ====================
*.o
*.d
*.axf
*.lst
*.lnp
*.sct
*.crf
*.htm
*.plg
*.uvgui.*
*.uvoptx
*.uvprojx.bak
*.uvproj.bak
# Keil默认编译输出文件夹（Objects/Listings/RTE）
/Objects/
/Listings/
/RTE/
/__preview/

# ==================== 调试工具临时文件 ====================
JLinkLog.txt
JLinkSettings.ini

# ==================== 压缩包/安装包 ====================
*.zip
*.rar
*.7z
*.gz

# ==================== IDE临时文件 ====================
.vscode/
.idea/
*.swp
*~